# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/

# Django
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db

# macOS
.DS_Store